<?xml version="1.0" encoding="utf-8" ?>
<config language="Español" database="MySQL" lastProject="/Users/raisemike/Desarrollo/EclipseJava/DBCase/projects/complejo.xml" theme="dark" modoVista="0" > 
<connection name="Jajajajaj" type="0" path="localhost:" database="test" user="root" password=""  /> 
<connection name="www" type="0" path="localhost:" database="test" user="root" password=""  /> 
<connection name="asd" type="0" path="asd:asd" database="asd" user="asd" password="asd"  /> 
</config> 
