<?xml version="1.0" encoding="utf-8" ?>
<config language="Español" database="MySQL" lastProject="/Users/raisemike/Desarrollo/EclipseJava/DBCase/projects/ex0.xml" theme="light" modoVista="0" > 
<connection name="ejemplo" type="0" path="localhost:" database="test" user="root" password=""  /> 
</config> 
