vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 May 2008 09:16:59 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|PORTATIL\\Javier Caceres
vti_modifiedby:SR|PORTATIL\\Javier Caceres
vti_timecreated:TR|15 May 2008 20:08:45 -0000
vti_lineageid:SR|{5334112D-CD1B-4252-BA58-31672F3A7D90}
vti_backlinkinfo:VX|index.htm ejemplos_de_uso.htm base_de_datos_de_un_colegio.htm preguntas_frecuentes.htm
vti_cacheddtm:TX|16 May 2008 09:16:59 -0000
vti_filesize:IR|524
