.Creditos  {
font-family:	Trebuchet MS, Sans-Serif;
font-size:	10pt;
font-style:	normal;
text-align:	left;
}

.Normal  {
font-family:	Trebuchet MS, Sans-Serif;
font-size:	10pt;
}

.Titulo1  {
border-bottom-color:	#c0c0c0;
border-bottom-style:	solid;
border-bottom-width:	1px;
border-width:	1px;
color:	#000000;
font-family:	Trebuchet MS, Sans-Serif;
font-size:	18pt;
line-height:	150%;
}

.Titulo4  {
color:	#000080;
font-family:	Trebuchet MS, Sans-Serif;
font-size:	10pt;
font-style:	normal;
}
